@{
    ViewBag.Title = "viewQuiz";
    Layout = "~/Views/Shared/Teacher.cshtml";
}
@using MvcApplication2.Models;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

   
</head>

    <body>
        @{
            Database1Entities d = new Database1Entities();
            int y=ViewBag.quiz;
            List<question> q = d.questions.Where(x => x.qid == y).ToList();
            <table border="1">
                
                    <tr><td>Quesion No</td><td>Option A</td><td>Option B</td><td>Option C</td><td>Option D</td></tr>
                    @foreach(question l in q){
                        <tr><td>@l.ques</td><td>@l.a</td><td>@l.b</td><td>@l.c</td><td>@l.d</td></tr>
                    }
                
            </table>
            }
</body>
</html>


